#store{
    display: block;
    text-align: center;
    font-size: 12em;
    font-family: Arial, Helvetica, sans-serif;
}
#buttonContainer{
    text-align: center;
}

.buttons{
    padding: 10px,20px;
    font-size: 1.5em;
    color: white;
    background-color: aqua ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color:blue;
}